<!DOCTYPE html>
<html>

<head>
    <title>Add recipe</title>
</head>

<body>
    <h1>Add recipe</h1>
    
    <form method="post" action="/add-recipe" enctype="multipart/form-data">
	<p>
	    Recipe name:<br>
	    <input type="text" name="name" required>
	</p>
	<p>
	    Ingredients:<br>
	    <textarea name="ingredients" rows="20" required></textarea>
	</p>
	<p>
	    Instructions:<br>
	    <textarea name="instructions" rows="20" required></textarea>
	</p>
	<p>
	    <input type="file" name="image" accept="image/*">
	</p>

	<button type="submit">Add recipe</button>	
    </form>

    <p>
        <a href="/">Back to Bakelist</a>
    </p>

</body>

</html>
